.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s;
}

.modal {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  width: 550px;
  animation: slideUp 0.4s;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}

.modalImg {
  padding: 20px 0;
  background-color: #ffda3a;
  position: relative;
}

.modalImg img {
  width:300px;
  display: block;
  margin: 0 auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
}

.close-btn:hover {
  background: rgba(0, 0, 0, 0.6);
}

form select,
form input[type="text"],
form input[type="email"],
form input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin: 9px 0;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 15px;
  background-color: #3a444a;
  color: white;
}

form select:focus,
form input:focus {
  border: 2px solid #ffda3a !important;
  outline: none;
}

.buttonRadio {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 15px 0;
}

.buttonRadio input[type="radio"] {
  display: none;
}

.buttonRadio label {
  position: relative;
  background: #2b2b2b;
  color: #fff;
  border: 2px solid #2b2b2b;
  padding: 8px 25px 8px 35px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.buttonRadio label::before {
  content: '';
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: transparent;
  transition: 0.3s;
}

.buttonRadio input[type="radio"]:checked + label {
  border-color: #ffd500;
  color: #ffd500;
}

.buttonRadio input[type="radio"]:checked + label::before {
  background: #ffda3a;
}

.submitBtn {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 30px;
  background: #ffda3a;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.submitBtn:hover {
  background: #3a444a;
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
